# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.ipynb_checkpoints/EOF
data/mb.csv
data/swap_with_liq.csv
data/hourly_features_micro_fix.csv
df_micro.csv
df_all.csv
data/hourly_features_all_fix.csv
data/df_CEX.csv
